<nav class="navbar navbar-light bg-light">
    <div class="container">
        <span class="navbar-brand mb-0 h1">Inovus Labs IEDC</span>
    </div>
</nav>

<div class="container">
    <div class="my-5 row home">
        <div class="col-lg-8 col-sm-12 certificate">
            <img src={{this.CertificateLink}} alt="">
        </div>
        <div class="col-lg-4 col-sm-12 details">
            <div class="text">
                <div class="text-top">
                    <h2>{{this.Title}}</h2>
                    <h5>{{this.SubTitle}}</h5>
                    <br>
                    <h4>Successfully completed by</h4>
                    <h1>{{this.CandidateName}}</h1>
                </div>
                <br>
                <div class="text-bottom">
                    <p>{{this.Duration}} <br> {{this.DurationDesc}}</p>
                    <p>Dated : <b>{{this.CertificateDate}}</b> <br> Credential : <b>{{this.CertificateId}}</b></p></p>
                    <br>
                    <span><b>{{this.CandidateName}}'s</b> certificate is verified. <br>
                        Inovus Labs IEDC certifies their successful completion of <b>'{{this.SubTitle}}'</b></span>
                </div>
            </div>
        </div>
    </div>
</div>